.page-capabilities {
  .capabilities {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .sidebar {
    background: #ef4929;
    padding: 130px 50px 50px 75px;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .grid-item {
      font-size: 28px;
      color: #ef4929;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    div:nth-child(odd) {
      background-color: #282a28;
    }
    div:nth-child(even) {
      background-color: #252725;
    }
  }
}
