.page-capabilities {
  .capabilities {
    display: grid;
    grid-template-columns: 25% 75%;
  }

  .sidebar {
    background: #ef4929;
    padding: 130px 50px 50px 75px;
    color: #fff;
    font-size: 18px;
    line-height: 35px;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .grid-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      overflow: hidden;
      cursor: pointer;

      .play-reel {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #fff;
      }

      .hover,
      .resting {
        display: none;
        position: absolute;
        padding: 0 40px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }

      .resting {
        text-align: left;
        align-items: center;
      }

      .hover {
        opacity: 0;
      }

      &:hover,
      &.clicked,
      &.active {
        .resting {
          opacity: 0;
        }
        .hover {
          opacity: 1;
        }
      }

      .heading {
        font-size: 28px;
        z-index: 1;
        position: relative;
        color: #ef4929;
      }

      .copy {
        font-size: 16px;
        z-index: 1;
        position: relative;
        color: #fff;
        line-height: 1.3;
      }

      .bg-image {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0.1;
        z-index: 1;
        pointer-events: none;
      }
    }

    div:nth-child(odd) {
      background-color: #282a28;
    }
    div:nth-child(even) {
      background-color: #252725;
    }
  }
}
